.featured-slides {
  padding: 80px 0px;
}

.featured1-brands img {
  width: 100%;
  height: auto;
}

.featured-slides-content {
  margin-bottom: 15px;
}

.featured-slides-content h2 {
  font-size: 65px;
  color: var(--black-color);
  text-align: center;
  font-weight: 600;
}

.featured1-brands {
  margin-bottom: 20px;
}

.featured1-brands.featured2-brands {
  margin-bottom: 0px;
}

@media(max-width:768px) {
  .featured-slides-content h2 {
    font-size: 38px;
  }

  .featured-slides {
    padding: 40px 0px;
  }
}

@media(max-width:440px) {
  .featured-slides-content h2 {
    font-size: 28px;
  }
}