.about-banner-sec {
  background-image: url("../../../../public/images/about-banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-banner-content h1 {
  font-size: 65px;
  color: var(--black-color);
  text-align: center;
  font-weight: 800;
}

.about-banner-content h4 {
  color: var(--black-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.about-banner-content h4 span {
  color: var(--theme-color);
}

.about-banner-content p {
  text-align: center;
  margin-top: 25px;
  color: var(--black-color);
  font-size: 22px;
}

.about-content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media(max-width:1366px) { 
  .about-banner-sec {
    padding: 150px 0px;
  }
}

@media(max-width:768px) { 
  .about-banner-sec {
    padding: 80px 0px;
}

.about-banner-content h1 {
    font-size: 40px;
}

.about-banner-content p {
    font-size: 18px;
}
}

@media(max-width:575px) { 
      .about-banner-sec {
        padding: 40px 0px;
    }
}

@media(max-width:440px) { 
      .about-banner-content h1 {
    font-size: 24px;
}

.about-banner-content p {
    font-size: 15px;
}
}

@media(max-width:390px) { 
      .about-banner-content h4 {
    margin-bottom: 24px;
    font-size: 18px;
}

.about-banner-content h1 {
    font-size: 20px;
}
}

@media(max-width:360px) { 
      .about-banner-content h1 {
    font-size: 18px;
}

.about-banner-content p {
    font-size: 14px;
}
}