.our-blogs-sec {
  padding-top: 100px;
}

.our-blogs-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.our-blogs-content h2 {
  color: var(--black-color);
  margin-bottom: 0;
}

.our-blogs-btn a {
  border-color: var(--black-color);
  color: var(--black-color);
}

.our-bigBlogs-content {
  margin-top: 32px;
}

.our-blogs img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.our-bigBlogs-content .blog-date {
  color: var(--theme-color);
  font-weight: 500;
}

.our-bigBlogs-content h3 a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all ease 0.3s;
}

.our-bigBlogs-content h3 a:hover {
  color: var(--theme-color);
}

.our-bigBlogs-content p {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 500;
}

.our-bigBlogs-content .our-bigBlogs-tags {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.our-bigBlogs-content .our-bigBlogs-tags a {
  text-decoration: none;
  background-color: #f9ffe9;
  padding: 4px 12px;
  border-radius: 100px;
  font-size: 18px;
  color: var(--theme-color);
}

.our-bigBlogs-content .our-bigBlogs-tags a:hover {
  background-color: #e3e3e3;
  color: var(--black-color);
}

/* small blogs boxes */
.our-bigBlogs-content h3 a {
  text-decoration: none;
}

.our-blogs.flex-blogs {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.our-blogs.flex-blogs .our-bigBlogs-content {
  margin-top: 0;
}

.our-blogs.flex-blogs .our-bigBlogs-tags {
  margin-top: 0;
}

.our-blogs.flex-blogs .our-bigBlogs-content p {
  margin-bottom: 10px;
}

.our-blogs.flex-blogs:nth-child(1) {
  margin-top: 0;
}

.our-blogs.flex-blogs img {
  width: 50rem;
  height: auto;
}

.our-blogs.flex-blogs .our-bigBlogs-content h3 a {
  font-size: 24px;
}

/* small blogs boxes */


@media(max-width:1536px) {
  .our-blogs.flex-blogs {
    gap: 20px;
    margin-top: 30px;
  }

  .our-bigBlogs-content h3 a {
    font-size: 20px;
  }

  .our-blogs.flex-blogs .our-bigBlogs-content p {
    font-size: 16px;
  }

  .our-blogs img {
    height: revert-layer;
  }
}

@media(max-width:1440px) {
  .our-bigBlogs-content p {
    font-size: 18px;
  }

  .our-blogs.flex-blogs .our-bigBlogs-content p {
    font-size: 15px;
  }

  .our-blogs.flex-blogs img {
    width: 47px;
  }
}

@media(max-width:1366px) {
  .our-blogs img {
    height: unset;
  }

  .our-blogs.flex-blogs .our-bigBlogs-content h3 a {
    font-size: 18px;
  }

  .our-blogs.flex-blogs img {
    width: 34rem;
  }
}

@media(max-width:768px) {
  .our-blogs-sec {
    padding-top: 50px;
  }

  .our-blogs {
    margin-bottom: 20px;
  }

  .our-blogs-content {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .our-blogs-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .our-blogs-content .our-blogs-right {
    display: flex;
    justify-content: center;
  }
}

@media(max-width:575px) {
  .our-bigBlogs-content .our-bigBlogs-tags a {
    font-size: 14px;
  }
}

@media(max-width:440px) {
  .our-blogs-content {
    flex-direction: column;
    justify-content: center;
  }

  .our-blogs-btn {
    display: flex;
  }

  .our-blogs-content h2 {
    margin-bottom: 10px;
  }

  .our-blogs.flex-blogs {
    flex-direction: column;
  }

  .our-blogs.flex-blogs img {
    width: 100%;
  }
}

@media(max-width:414px) {
  .our-bigBlogs-content p {
    font-size: 14px;
  }
}

@media(max-width:390px) {
  .our-bigBlogs-content .our-bigBlogs-tags a {
    font-size: 14px;
  }
}

@media(max-width:360px) {
  .our-bigBlogs-content h3 a {
    font-size: 18px;
  }
}