.case-study-sec {
  position: relative;
  border-radius: 20px;
  padding: 50px 0 0;
  background: linear-gradient(360deg,
      rgba(160, 216, 21, 0) 0%,
      rgba(160, 216, 21, 0.1) 100%);
}

.case-study-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(180deg, #9fd815 0%, rgba(159, 216, 21, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.case-study-content h2 {
  text-align: center;
  color: var(--black-color);
}

.case-study-content p {
  text-align: center;
  color: var(--black-color);
  font-size: 22px;
  width: 1300px;
  margin: 0 auto;
}

/* case study cards */
.our-work-box {
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid var(--theme-color);
  border-radius: 10px;
}

.our-work-box img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 350px;
  transition: 5s all ease;
  border-radius: 10px;
}

.our-work-box img:hover {
  object-position: bottom;
}

/* Scroll image upward on hover */

.case-study-sec .col-lg-6:nth-last-child(-n + 2) .our-work-box {
  margin-bottom: 0;
}

.our-work-box-content {
  margin-top: 15px;
}

.our-work-box-content p {
  color: var(--black-color);
  margin-bottom: 0;
}

.our-work-box-content h4 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-color);
}

.our-work-box-content h4 span {
  color: var(--theme-color);
}

/* case study cards */

.case-study-content {
  margin-bottom: 100px;
}

@media(max-width:1536px) {
  .our-work-box-content h4 {
    font-size: 28px;
  }
}

@media(max-width:1440px) {
  .our-work-box-content h4 {
    font-size: 26px;
  }

  .case-study-content p {
    width: 100%;
  }
}

@media(max-width:1366px) {
  .our-work-box-content h4 {
    font-size: 24px;
  }

  .our-work-box-content p {
    font-size: 15px;
  }
}

@media(max-width:768px) {
  .case-study-content {
    margin-bottom: 50px;
  }

  .our-work-box-content p {
    font-size: 14px;
  }

  .our-work-box {
    margin-bottom: 50px;
  }

  .our-work-box-content h4 {
    font-size: 18px;
  }

  .case-study-content p {
    font-size: 14px;
  }
}

@media(max-width: 390px) {
  .case-study-sec {
    padding: 30px 0px;
  }
}

@media(max-width: 375px) {
  .our-work-box-content h4 {
    font-size: 17px;
  }
}