.how-it-works-content-right p {
  color: var(--black-color);
  width: 498px;
}

.how-it-works-content-left h4 {
  color: var(--black-color);
  font-size: 30px;
  font-weight: 500;
}

.how-it-works-content-left h2 {
  font-size: 65px;
  color: var(--black-color);
  margin: 0;
}

.how-it-works-content-left h2 span {
  display: block;
}

.how-it-works-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 36px;
}

.how-it-works-box {
  width: 100%;
  height: 274px;
  /* background-image: url("../../../public/images/how-it-works.webp"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 44px;
  border-color: #D41423;
}

.how-it-works-box p {
  color: var(--black-color);
  margin: 0;
  text-align: center;
}

.how-it-works-box h4 {
  color: var(--black-color);
  font-weight: 500;
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

.how-it-works-box.how-it-works-box2 {
  margin-top: 60px;
}

.how-it-works {
  padding-bottom: 100px;
}

.how-it-works-btn a {
  color: var(--theme-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width:1536px) {
  .how-it-works-box {
    height: 229px;
    padding: 0 25px;
  }

  .how-it-works-box p {
    font-size: 14px;
  }

  .how-it-works-box h4 {
    font-size: 20px;
  }
}

@media (max-width:1440px) {
  .how-it-works-box {
        height: 248px;
        padding: 15px 10px 15px;
        border: 2px solid var(--theme-color);
        border-radius: 20px;
    }
}

@media (max-width:768px) {
  .how-it-works-content {
    flex-direction: column;
    align-items: center;
}

.how-it-works-content-left h2 {
    text-align: center;
    font-size: 50px;
}

.how-it-works-content-left h4 {
    text-align: center;
}

.how-it-works-content-right p {
    width: 100%;
    text-align: center;
}

.how-it-works-btn {
    text-align: center;
}

.how-it-works-box.how-it-works-box2 {
  margin-top: 0;
}

.how-it-works-box {
    margin-bottom: 20px;
}

.how-it-works {
    padding-bottom: 50px;
}
}
@media (max-width:575px) {
  .how-it-works-content-left h2 {
    font-size: 40px;
  }
}

@media (max-width:440px) {
  .how-it-works-content-left h4 {
    font-size: 24px;
}

.how-it-works-content-left h2 {
    font-size: 36px;
}

    .how-it-works {
        padding-bottom: 20px;
    }
}

@media (max-width:375px) {
    .how-it-works-content-left h2 {
        font-size: 30px;
    }
}