.our-values-sec {
  padding-bottom: 100px;
  background-image: url("../../../../public/images/map-bg.webp");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.our-values-content {
  margin-bottom: 50px;
}

.our-values-content h2 {
  color: var(--black-color);
  text-align: center;
}

.our-values-1 {
  padding: 72px 70px;
  background-image: url("../../../../public/images/our-value1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
}

.our-values-1 h2 {
  background: linear-gradient(0deg, #9fd815 0%, #dcff86 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-weight: 800;
}

.our-values-1 .our-values-1-content h4 {
  font-weight: 600;
  font-size: 40px;
  color: var(--theme-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.our-values-1 .our-values-1-content p {
  font-weight: 500;
  font-size: 30px;
  color: var(--black-color);
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* black vector design */
.our-values-2 {
  padding: 72px 70px;
  background-image: url("../../../../public/images/our-value2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  margin-bottom: 50px;
}

.our-values-2 h2 {
  background: linear-gradient(180deg, #5b5b5b 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-weight: 800;
}

.our-values-2 .our-values-2-content h4 {
  font-weight: 600;
  font-size: 40px;
  color: var(--black-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.our-values-2 .our-values-2-content p {
  font-weight: 500;
  font-size: 30px;
  color: var(--black-color);
  margin-bottom: 0px;
  text-transform: uppercase;
}

.our-values-2-content {
  text-align: end;
}

@media(max-width:1536px) {
  .our-values-1 {
    padding: 42px 70px;
  }
  .our-values-2 {
    padding: 42px 70px;
  }
}

@media(max-width:1440px) {
      .our-values-1 {
        padding: 37px 70px;
    }
      .our-values-2 {
        padding: 37px 70px;
    }
}

@media(max-width:1366px) {
          .our-values-1 {
        padding: 29px 70px;
    }
          .our-values-2 {
        padding: 29px 70px;
    }
}

@media(max-width:768px) {
          .our-values-1 .our-values-1-content p {
    font-size: 15px;
}

.our-values-1 .our-values-1-content h4 {
    font-size: 28px;
}

.our-values-1 h2 {
    font-size: 80px;
}

.our-values-1 {
    gap: 30px;
    padding: 10px 70px;
}

 .our-values-2 .our-values-2-content p {
    font-size: 15px;
}

.our-values-2 .our-values-2-content h4 {
    font-size: 28px;
}

.our-values-2 h2 {
    font-size: 80px;
}

.our-values-2 {
    gap: 30px;
    padding: 10px 70px;
}
}


@media(max-width:575px) {
.our-values-content {
    margin-bottom: 30px;
}

.our-values-1 {
    margin-bottom: 30px;
    padding: 2px 40px 2px;
}

.our-values-1 h2 {
    font-size: 60px;
}

.our-values-1 .our-values-1-content h4 {
    font-size: 22px;
}

.our-values-1 .our-values-1-content p {
    font-size: 14px;
}

.our-values-1-content {
    margin-bottom: 10px;
}

.our-values-content {
    margin-bottom: 30px;
}

.our-values-2 {
    margin-bottom: 30px;
    padding: 2px 40px 2px;
}

.our-values-2 h2 {
    font-size: 60px;
}

.our-values-2 .our-values-2-content h4 {
    font-size: 22px;
}

.our-values-2 .our-values-2-content p {
    font-size: 14px;
}

.our-values-2-content {
    margin-bottom: 10px;
}

.our-values-sec {
    padding-bottom: 30px;
}
}

@media(max-width:440px){
  .our-values-1 {background-size: contain;padding: 2px 30px;gap: 20px;}

.our-values-1 .our-values-1-content p {
    font-size: 12px;
}

.our-values-1-content {
    margin-bottom: 45px;
}
    .our-values-1 .our-values-1-content h4 {
        font-size: 19px;
        margin-bottom: 0;
    }

    .our-values-2 {background-size: contain;padding: 2px 30px;gap: 20px;}

.our-values-2 .our-values-2-content p {
    font-size: 12px;
}

.our-values-2-content {
    margin-bottom: 45px;
}
    .our-values-2 .our-values-2-content h4 {
        font-size: 15px;
        margin-bottom: 0;
    }
}

@media(max-width:390px){
  .our-values-2 h2 {
    font-size: 50px;
  }

  .our-values-1 .our-values-1-content h4 {
    font-size: 15px;
}
  .our-values-2 .our-values-2-content h4 {
    font-size: 15px;
}
    .our-values-2 .our-values-2-content p {
        font-size: 11px;
    }

    .our-values-content h2 {
    font-size: 30px;
}

.our-values-1 {
  margin-bottom: 0;
}
.our-values-2 {
  margin-bottom: 0;
}
}

@media(max-width:375px){
  .our-values-1 {
    padding: 2px 20px 2px 14px;
}

.our-values-2 {
    padding: 2px 20px 2px 14px;
}

.our-values-1 h2 {
    font-size: 50px;
}
}