.services-banner-sec {
  padding: 140px 0px;
  background-image: url("../../../public/images/services-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-banner-content h1 {
  color: var(--black-color);
  text-align: center;
  font-weight: 600;
}

.services-banner-content h4 {
  font-size: 40px;
  color: var(--black-color);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.services-banner-content p {
  font-size: 22px;
  color: var(--black-color);
  text-align: center;
  margin: 30px auto 0 auto;
  width: 1200px;
}

.services-banner-content .services-banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media(max-width:1536px) {
  .services-banner-content h1 {
    font-size: 65px;
  }

  .services-banner-content p {
    width: 100%;
  }
}

@media(max-width:1440px) {
  .services-banner-content h1 {
    font-size: 55px;
  }
}

@media(max-width:768px) {
  .services-banner-sec {
    padding: 80px 0px;
  }

  .services-banner-content h1 {
    font-size: 32px;
  }

  .services-banner-content h4 {
    font-size: 30px;
  }

  .services-banner-content p {
    font-size: 18px;
  }
}

@media(max-width:440px) {
  .services-banner-content h1 {
    font-size: 26px;
  }

  .services-banner-content h4 {
    font-size: 24px;
  }

  .services-banner-sec {
    padding: 40px 0px;
  }
}

@media(max-width:390px) {
  .services-banner-content p {
    font-size: 16px;
  }
}

@media(max-width:375px) {
  .services-banner-content h1 {
    font-size: 24px;
  }

  .services-banner-content h4 {
    font-size: 20px;
  }
}

@media(max-width:360px) {
  .services-banner-content p {
    font-size: 14px;
  }
}