.demand-sec {
    padding-bottom: 100px;
}

.demand-sec-content {
    margin-bottom: 50px;
}

.demand-sec-content h2 {
    color: var(--black-color);
    font-size: 65px;
    text-align: center;
}

.demand-sec-content p {
    color: var(--black-color);
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
}

.demand-box-sec {
    padding: 40px 45px;
    height: 100%;
}

.demand-box-sec p {
    color: var(--black-color);
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 28px;
}

.demand-box-sec h4 {
    font-size: 30px;
    color: var(--black-color);
    margin-bottom: 10px;
    text-align: center;
}


.demand-sec .row-bg {
    background-image: url("../../../public/images/demand-frame.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 1536px) {
    .demand-box-sec p {
        font-size: 17px;
    }

    .demand-box-sec h4 {
        font-size: 24px;
    }

    .demand-box-sec img {
        width: 100%;
        height: auto;
    }

    .demand-box-sec {
        padding: 40px 20px;
    }
}

@media(max-width: 1440px) {
    .demand-box-sec h4 {
        font-size: 18px;
    }

    .demand-box-sec p {
        font-size: 16px;
    }
}

@media(max-width: 1366px) {
    .demand-box-sec {
        padding: 40px 10px;
    }

    .demand-box-sec p {
        font-size: 15px;
        line-height: 24px;
    }
}

@media(max-width: 768px) {
    .demand-sec-content h2 {
        font-size: 38px;
    }

    .demand-sec-content p {
        font-size: 18px;
    }

    .demand-sec .row-bg {
        background-image: unset;
    }

    .demand-box-sec {
        position: relative;
        z-index: 1;
    }

    .demand-box-sec::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 2px;
        background: linear-gradient(180deg, #9fd815 0%, rgba(159, 216, 21, 0) 100%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }

    .demand-sec {
        padding-bottom: 50px;
    }
}

@media(max-width: 440px) {
    .demand-sec-content h2 {
        font-size: 28px;
    }

    .demand-sec-content p {
        font-size: 14px;
    }

    .demand-sec-content {
        margin-bottom: 30px;
    }

    .demand-box-sec img {
        display: none;
    }

    .demand-box-sec h4 br {
        display: none;
    }

    .demand-box-sec p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
    }

    .demand-box-sec h4 {
        font-size: 22px;
    }

    .demand-sec {
        padding-bottom: 10px;
    }
}

@media(max-width: 390px) {
    .demand-sec-content h2 {
        font-size: 24px;
    }
}