.header {
  border-bottom: 0.5px solid #000000;
  position: relative;
  z-index: 111;
}

.header .navbar-nav {
  gap: 35px;
}

.header .nav-item .nav-link {
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.header .nav-item .nav-link:hover {
  color: var(--theme-color);
}

.header .header-right-btn a {
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 13px 54px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.header .dropdown-toggle::after {
  vertical-align: 0.055em;
}

/* hover dropdown */
.header .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.header .dropdown-menu {
  position: absolute;
  min-width: 95vw;
  padding: 26px 140px;
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  box-shadow: 0px -9px 32.3px 0px #00000040 inset;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  left: 0%;
  transform: translateX(-41%);
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.header .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.header .services-drop h3 a {
  transition: all ease 0.3s;
  font-size: 27px;
  font-weight: 500;
  color: var(--theme-color);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.header .services-drop h3 a:hover {
  color: var(--black-color);
}

.header .services-drop ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
}

.header .services-drop ul li {
  margin-bottom: 15px;
}

.header .services-drop ul li a:hover {
  color: var(--theme-color);
}

.header .services-drop ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.header .services-drop-cta1 {
  background: linear-gradient(180deg, #5b5b5b 0%, #000000 100%);
  border-radius: 15px;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
}

.header .services-drop-cta1::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../../../public/images/blur-logo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 24px;
  bottom: 0;
  width: 150px;
  height: 115px;
}

.header .services-drop-image-inner {
  margin-top: 20px;
  background-image: url("../../../public/images/services-drop-cta2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
}

.header .services-drop-cta2::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.header .services-drop-cta2 p {
  margin-bottom: 0;
}

.header .services-drop-cta2 h3 {
  color: var(--white-color);
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .services-drop-cta1 h3 a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .services-drop-cta1 .services-drop-flex ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  gap: 50px;
}

.header .services-drop-cta1 .services-drop-flex ul li a {
  text-decoration: none;
  color: var(--white-color);
  border: none;
  padding: 0;
}

.header .services-drop-cta1 .services-drop-flex ul li a:hover {
    background-color: transparent;
}

.header .services-drop-cta1 .services-drop-flex ul li {
  color: var(--white-color);
  display: flex;
}

.header .services-drop-cta1 .services-drop-flex {
  margin-top: 30px;
}

/* hover dropdown */

/* dropdown start */
.dropdown-main {
  display: flex;
}

.drop-down-main {
  display: flex;
}

.drop-main {
  display: flex;
  gap: 20px;
}

/* dropdown end */

.mobile-service-item {
  display: none;
}

.lap-service-item {
  display: block;
}

@media(max-width:1536px) {
  .header .dropdown-menu {
    transform: translateX(-39%);
    padding: 26px 80px;
  }
}

@media(max-width:1440px) {
  .header .dropdown-menu {
    transform: translateX(-38%);
    padding: 26px 42px;
  }
}

@media(max-width:1366px) {
  .header .dropdown-menu {
    transform: translateX(-38%);
    padding: 26px 24px;
    min-width: 97vw;
  }
}

@media(max-width:1330px) {
  .header .dropdown-menu {
    transform: translateX(-37%);
    padding: 26px 10px;
    min-width: 95vw;
  }

  .header .services-drop h3 a {
    font-size: 24px;
  }

  .header .services-drop-cta1 h3 a {
    font-size: 24px;
  }
}

@media(max-width:768px) {
  .mobile-service-item {
    display: block;
  }

  .lap-service-item {
    display: none;
  }

  .header .navbar-nav {
    padding: 20px 0;
  }

  .header-right-btn {
    display: flex;
    margin-top: 20px;
  }
}

@media(max-width:440px) {
  .header .navbar-brand img {
    width: 70px;
    height: auto;
  }

  .header .navbar-nav {
    gap: 20px;
  }

  .header-right-btn {
    margin-top: 5px;
  }
}

@media(max-width:375px) {
  .header .navbar-nav {
    gap: 10px;
  }
}