.home-banner-sec {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.home-banner-sec::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -175px;
  left: 0;
  width: 1100px;
  height: 600px;
  background-image: url("../../../../public/images/home-banner-before.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: big-bounce 2s ease-in infinite;
  -webkit-animation: big-bounce 2s ease-in infinite;
  -moz-animation: big-bounce ease-in 2s infinite;
  -o-animation: big-bounce ease-in 2s infinite;
}

.home-banner-sec::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 684px;
  height: 675px;
  background-image: url("../../../../public/images/home-banner-after.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: big-bounce 2s ease-in infinite;
  -webkit-animation: big-bounce 2s ease-in infinite;
  -moz-animation: big-bounce ease-in 2s infinite;
  -o-animation: big-bounce ease-in 2s infinite;
}

.home-banner-content {
  margin: 100px 0px 38px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.home-banner-content::before {
  content: "Branding";
  position: absolute;
  z-index: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: var(--black-color);
  padding: 8px;
  left: -75px;
  top: 53px;
  transform: rotate(-26deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

.home-banner-content::after {
  content: "Digital";
  position: absolute;
  z-index: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  color: var(--white-color);
  background: var(--black-color);
  padding: 8px;
  right: -75px;
  bottom: 100px;
  transform: rotate(-26deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

.home-banner-content.active::before,
.home-banner-content.active::after {
  opacity: 1;
}

.home-banner-content h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--black-color);
}

.home-banner-content h3 span {
  color: var(--theme-color);
}

.home-banner-content h1 {
  font-size: 137px;
  text-transform: uppercase;
  font-family: ClashDisplay-Medium;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.home-banner-content h1 span {
  color: var(--theme-color);
}

.home-banner-content p {
  font-weight: 500;
  font-size: 22px;
  width: 1044px;
  margin: 0 auto;
}

.home-banner-links {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-banner-links a {
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 12px 70px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all ease 0.3s;
}

.home-banner-links a:nth-child(1):hover {
  color: white;
  background-color: var(--black-color);
}

.home-banner-links a:nth-child(2):hover {
  background-color: var(--theme-color);
  border-color: transparent;
  color: white;
}

.home-banner-span {
  margin-top: 80px;
  margin-bottom: 65px;
  text-align: center;
}

.home-banner-span span {
  color: var(--theme-color);
  font-size: 16px;
  font-weight: 500;
}

.home-banner-video {
  overflow: hidden;
  border-radius: 12px;
  height: 150px;
  width: 618px;
  position: relative;
}

.home-banner-video video {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-banner-video1 {
  overflow: hidden;
  border-radius: 12px;
  height: 150px;
  width: 518px;
  position: relative;

}

.home-banner-video1 video {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@-webkit-keyframes big-bounce {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -250px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes big-bounce {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -200px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-o-keyframes big-bounce {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -200px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes big-bounce {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -200px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@media(max-width:1536px) {
  .home-banner-content h1 {
    font-size: 100px;
    margin-bottom: 10px;
  }

  .home-banner-content::before {
    left: -70px;
    top: 50px;
  }

  .home-banner-content::after {
    right: -76px;
    bottom: 112px;
  }
}

@media(max-width:1440px) {
  .home-banner-content::before {
    left: -52px;
    top: 66px;
    font-size: 20px;
  }

  .home-banner-content::after {
    font-size: 20px;
    right: -56px;
    bottom: 120px;
  }
}

@media(max-width:1300px) {
  .home-banner-content::before {
    left: -40px;
    top: 58px;
  }

  .home-banner-content::after {
    right: -38px;
    bottom: 112px;
  }
}

@media(max-width:768px) {
  .home-banner-video {
    display: none;
  }

  .home-banner-video1 {
    display: none;
  }

  .home-banner-content {
    margin: 50px 0px 38px;
  }

  .home-banner-content h1 {
    font-size: 70px;
  }

  .home-banner-content.active::before,
  .home-banner-content.active::after {
    display: none;
  }

  .home-banner-content p {
    width: 100%;
    font-size: 16px;
  }
}

@media(max-width:575px) {
  .home-banner-content h1 {
    font-size: 55px;
  }

  .home-banner-content h3 {
    margin-bottom: 20px;
  }

  .home-banner-links a {
    padding: 12px 50px;
  }

  .home-banner-span {
    margin: 30px 0px;
  }
}

@media(max-width: 440px) {
  .home-banner-content h3 {
    font-size: 22px;
  }

  .home-banner-content h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .home-banner-content p {
    font-size: 15px;
  }

  .home-banner-links a {
    padding: 12px 16px;
    font-size: 15px;
  }

  .home-banner-span span {
    font-size: 15px;
  }
}

@media(max-width:390px) {
  .home-banner-content h3 {
    font-size: 20px;
  }

  .home-banner-content h1 {
    font-size: 34px;
  }

  .home-banner-content p {
    font-size: 14px;
  }
}

@media(max-width:360px) {
  .home-banner-links a {
    font-size: 14px;
  }
}