.contactUs-form-bg {
  padding: 42px 36px;
  border-radius: 20px;
  background-image: url("../../../../public/images/contact-us-form-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 18px 0px #00000040;
}

.contactUs-form-content h3 {
  color: var(--black-color);
  font-size: 65px;
  font-weight: 600;
}

.contactUs-form-content h2 {
  font-weight: 600;
}

.contactUs-form-sec {
  margin-top: -300px;
}

.contactUs-form-points {
  margin: 20px 0px 0px;
}

.contactUs-form-points .contactUs-form-points-contact {
  background-color: #a0d8151a;
  padding: 16px 25px;
  margin-bottom: 22px;
  border: 2px solid var(--theme-color);
}

.contactUs-form-points .contactUs-form-points-contact p {
  margin-bottom: 0;
  font-size: 22px;
  color: var(--black-color);
}

.contactUs-form-video video {
  width: 100%;
  border-radius: 10px;
  height: 265px;
  object-fit: cover;
}

.contactUs-form-video video {
  overflow: hidden;
  height: 265px;
}

.budget-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.budget-option {
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #a9a9a9;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  font-size: 18px;
}

.budget-option input {
  display: none;
}

.budget-option:hover {
  background-color: #eaeaea;
}

.budget-option.selected {
  background: linear-gradient(0deg, #9fd815 0%, #dcff86 100%);
  color: #000;
  font-weight: 500;
}

.contactUs-form-div form label input {
  width: 100%;
  height: 63px;
  padding: 0 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  margin-top: 10px;
}

.contactUs-form-div form label textarea {
  width: 100%;
  height: 176px;
  padding: 20px 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  margin-top: 10px;
  resize: none;
}

.contactUs-form-div form label {
  width: 100%;
  margin-bottom: 40px;
  font-size: 22px;
  color: var(--black-color);
}

.contactUs-form-div form .budget-option {
  width: unset;
  margin-bottom: 15px;
}

.contactUs-form-div form .text-area-margin {
  margin-top: 10px;
}

.contactUs-form-div form button {
  width: 100%;
  padding: 13px 0px;
  background: linear-gradient(0deg, #9fd815 0%, #dcff86 100%);
  border: none;
  outline: none;
}

@media(max-width: 1536px) {
  .budget-option {
    padding: 10px 30px;
  }
}

@media(max-width: 1366px) {
  .contactUs-form-div form .budget-option {
    font-size: 16px;
  }

  .contactUs-form-div form label input {
    font-size: 15px;
  }

  .contactUs-form-div form label textarea {
    font-size: 15px;
  }

  .contactUs-form-div form label {
    margin-bottom: 20px;
  }

  .contactUs-form-points .contactUs-form-points-contact p {
    font-size: 18px;
  }
}

@media(max-width: 768px) {
  .contactUs-form-content {
    text-align: center;
  }

  .contactUs-form-content h3 {
    font-size: 45px;
  }
}

@media(max-width: 575px) {
  .contactUs-form-bg {
    padding: 20px 20px;
  }

  .contactUs-form-content h3 {
    font-size: 30px;
  }

  .contactUs-form-points .contactUs-form-points-contact p {
    font-size: 16px;
  }

  .contactUs-form-points .contactUs-form-points-contact {
    padding: 16px 15px;
  }

  .contactUs-form-div form label {
    font-size: 18px;
  }
}

@media(max-width: 440px) {
  .contact-banner-content h1 {
    font-size: 30px;
  }
}

@media(max-width: 375px) {
  .contact-banner-sec {
    padding: 55px 0 350px;
  }

  .contact-banner-content h1 {
    font-size: 28px;
  }
}

@media(max-width: 360px) {
  .contact-banner-content h1 {
    font-size: 24px;
  }

  .contactUs-form-points .contactUs-form-points-contact p {
    font-size: 13px;
  }
}