.our-expertise-sec {
  background-image: url("../../../public/images/our-expertise-sec.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px;
  position: relative;
  z-index: 1;
}

.our-expertise-sec::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.our-expertise-sec::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
}

.our-expertise-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.our-expertise-content h2 {
  color: var(--black-color);
  margin-bottom: 0;
}

.our-expertise-btn a {
  border-color: var(--black-color);
  color: var(--black-color);
}

.our-expertise-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.our-expertise-right p {
  color: var(--black-color);
  text-align: end;
}

.our-expertise-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 25px;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  transition: all ease 0.3s;
}

.our-expertise-box.active {
  background-color: var(--theme-color);
}

.our-expertise-box svg {
  transition: all ease 0.3s;
}

.our-expertise-box.active svg {
  transform: rotate(-38deg);
}

.our-expertise-box h3 {
  color: var(--black-color);
  text-transform: uppercase;
  margin: 0;
}

.our-expertise-image-box {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.our-expertise-image-box.active {
  display: block;
  opacity: 1;
}

.our-expertise-image-box img {
  width: 100%;
  height: auto;
}

.our-expertise-btn {
    display: flex;
}

@media(max-width: 1440px) {
  .our-expertise-box {
    padding: 35px 25px;
  }
}

@media(max-width: 1366px) {
      .our-expertise-box {
        padding: 30px 25px;
    }
}

@media(max-width: 768px) {
      .our-expertise-content {
    flex-direction: column;
}

.our-expertise-content h2 {
    text-align: center;
}

.our-expertise-right p {
    text-align: center;
    font-size: 16px;
}

.our-expertise-right {
    align-items: center;
}

.our-expertise-sec {
  padding: 50px 0px;
}

.our-expertise-boxes {
    margin-bottom: 30px;
}

.our-expertise-box h3 {
    font-size: 18px;
}

.our-expertise-box {
        padding: 20px 25px;
    }
}

@media(max-width:440px) {
  .our-expertise-sec {
      padding: 20px 0px;
  }
  
  .our-expertise-right p {
      font-size: 15px;
  }
}

@media(max-width:375px) {
  .our-expertise-box {
    padding: 20px;
}

.our-expertise-box h3 {
    font-size: 16px;
}
}