.blogs-banner-sec {
  background-image: url("../../../public/images/blogs-banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0px;
}

.blogs-banner-content h1 {
  color: var(--black-color);
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.blogs-banner-content p {
  color: var(--black-color);
  font-size: 22px;
  text-align: center;
}

.blogs-keywords {
  margin: 35px 0px;
}

.blogs-keywords ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.blogs-keywords ul li button {
  padding: 4px 16px;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  border-radius: 100px;
  background-color: #dedede;
  border: 2px solid #dedede;
  transition: all ease 0.2s;
  text-transform: capitalize;
}

.blogs-keywords ul li button:hover {
  color: var(--theme-color);
  background-color: #fff;
  border: 2px solid var(--theme-color);
}

.blogs-search form input {
  width: 100%;
  height: 65px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  padding: 0px 12px;
  outline: none;
  border-radius: 10px;
}

.blogs-search form input::placeholder {
  color: #cacaca;
}

.blogs-search form button {
  padding: 16px 22px;
  outline: none;
  border: none;
  background-color: var(--theme-color);
  border-radius: 6px;
}

.blogs-search {
  position: relative;
}

.blogs-search form button {
  position: absolute;
  top: 5px;
  right: 7px;
}

@media(max-width:768px) {
  .blogs-banner-sec {
    padding: 50px 0px;
  }

  .blogs-banner-content h1 {
    font-size: 45px;
  }

  .blogs-banner-content p {
    font-size: 16px;
  }

  .blogs-banner-content p br {
    display: none;
  }

  .blogs-keywords ul {
    flex-wrap: wrap;
  }

  .blogs-keywords ul li button {
    font-size: 18px;
  }
}

@media(max-width:575px) {
  .blogs-banner-content h1 {
    font-size: 34px;
  }

  .blogs-keywords ul li button {
    font-size: 14px;
  }

  .blogs-keywords ul {
    padding: 0;
  }
}

@media(max-width:428px) {
  .blogs-banner-content h1 {
    font-size: 24px;
  }

  .blogs-banner-content p {
    font-size: 14px;
  }

  .blogs-search form input {
    height: 50px;
  }

  .blogs-search form button {
    padding: 8px 15px;
  }
}

@media(max-width:375px) {
  .blogs-banner-content h1 {
    font-size: 22px;
  }

  .blogs-banner-content p {
    font-size: 13px;
  }

  .blogs-banner-sec {
    padding: 30px 0px;
  }
}